* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  transition: .2s;
}

body {
  margin-top: 50px;
  margin-bottom: 90px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 2em;
}

a:active {
  background-color: #3aa3;
}

li {
  list-style-type: none;
  font-size: 2em;
  margin: auto;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2em;
  padding: 10px 15px;
  border-radius: 5px;
}
button:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}

.todoList li {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px -2px #888;
  border-radius: 5px;
}

.doneItem {
  box-shadow: 0px 0px 10px -2px #3aa;
  background-color: #3aa3;
}

input {
  border-width: 0px 0px 1px 0px;
  outline: 0px;
  font-size: 2em;
}

input:focus {
  border-color: #3aa;
}

form {
  display: flex;
  margin-bottom: 30px;
}

form button {
  background-color: #3aa;
}

.todoList>li button {
  margin-left: 20px;
}

.doneBtn {
  background-color: #3aa;
}

.deleteBtn {
  background-color: #f22;
}

form>div {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 30px;
}

.links {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.links ul {
  margin: auto;
  display: flex;
  gap: 30px;
  font-size: 6px;
  justify-content: space-around;
  align-items: center;
}

.links a {
  padding: 5px 10px;
  border-bottom: 1px solid #3aa;
  box-shadow: 5px 5px 10px -2px #999; 
}

@media ( max-width: 780px ) {
  .links ul {
    flex-direction: column;
  }
  
  .links a:hover {
    box-shadow: 5px 5px 5px -4px #999; ; 
  }
  
  form>div {
  flex-direction: column;
  gap: 30px;
  }
  
  .todoList li {
    font-size: 1.8em;
  }
  
  li>div {
    display: flex;
    flex-direction: column;
  }
  
 .todoList>li button {
    margin-bottom: 10px;
    font-size: 1.8em;
    padding: 5px 10px;
  }
  
  .todoList>li button:last-child {
    margin-bottom: 0;
  }
}
